html {
    font-family: 'Work Sans', sans-serif;
    background-color: whitesmoke;
}

body {
    width: 600px;
    margin: 0 auto;
    background-color: #FF9500;
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}

h1 {
    margin: 0;
    padding: 20px 0;
    color: #00539F;
    text-shadow: 0 3px 1px black;
}

img {
    display: block;
    margin: 0 auto;
    width: 500px;
}

button {
    width: 150px;
    height: 40px;
    border: 5px black;
    border-radius: 2px;
    margin: 20px 0;
}